In [1]:
import ipywidgets
import numpy as np
import polars as pl
import pandas as pd
from numba import jit
from tqdm import tqdm
import geopandas as gpd
from shapely.geometry import Point, LineString, Polygon
from lonboard import viz, Map, ScatterplotLayer, SolidPolygonLayer
from lonboard.basemap import CartoBasemap

import warnings
warnings.filterwarnings("ignore")

PC specs: AMD Ryzen 9 3900x (12 core, 24 threads), 10GB NVIDIA 3080, 32GB RAM

Using Lonboard for visualizations: https://developmentseed.org/lonboard/latest/

- full dataset, sampled every 1-5s:
    - 24,858,308 points
    - 980.7 MB parquet
    - 34 seconds to load (GeoPandas direct)
    - 52.6 seconds to render (viz()) (almost crashed)
- resampled user data to every 10s:
    - 6,685,898 points
    - 256.7 MB parquet
    - 6 seconds to load (GeoPandas direct)
    - 9.75s to render (viz())
- sampled user data to every 1 minute:
    - 1,286,190 points
    - 55.6 MB parquet
    - 1.44 seconds to load (GeoPandas direct)
    - 1.97s to render (viz())
- sampled user data to every 5 minutes:
    - 326,935 points
    - 14.6 MB parquet
    - 455 ms to load (GeoPandas direct)
    - 514 ms to render (viz())

In [5]:
file = r'C:\Projects\data\geolife\geolife_points_full.parquet'
# file = r'C:\Projects\data\geolife\geolife\geolife_points_10sec.parquet'
# file = r'C:\Projects\data\geolife\geolife\geolife_points_1min.parquet'

In [6]:
%%time
gdf = gpd.read_parquet(file)
print(f"Number of records in the dataset: {len(gdf)}")
gdf.head()

Number of records in the dataset: 24858308
CPU times: total: 44.9 s
Wall time: 36.5 s

,latitude,longitude,altitude,date_str,time_str,timestamp_str,timestamp,user_id,geometry
0,39.984683,116.318450,492.0,2008-10-23,02:53:10,2008-10-23 02:53:10,2008-10-23 02:53:10,0,POINT (116.31845 39.98468)
1,39.984686,116.318417,492.0,2008-10-23,02:53:15,2008-10-23 02:53:15,2008-10-23 02:53:15,0,POINT (116.31842 39.98469)
2,39.984688,116.318385,492.0,2008-10-23,02:53:20,2008-10-23 02:53:20,2008-10-23 02:53:20,0,POINT (116.31839 39.98469)
3,39.984655,116.318263,492.0,2008-10-23,02:53:25,2008-10-23 02:53:25,2008-10-23 02:53:25,0,POINT (116.31826 39.98465)
4,39.984611,116.318026,493.0,2008-10-23,02:53:30,2008-10-23 02:53:30,2008-10-23 02:53:30,0,POINT (116.31803 39.98461)

In [7]:
%%time
layer = ScatterplotLayer.from_geopandas(gdf)
map_ = Map(layers=[layer], basemap_style=CartoBasemap.DarkMatter) #Positron, DarkMatter, Voyager
layer.opacity = 0.25
layer.get_radius = 2.5
layer.get_fill_color = [66, 245, 84, 255] #[255, 0, 0]
map_

CPU times: total: 1min 31s
Wall time: 1min 30s

Map(basemap_style=<CartoBasemap.DarkMatter: 'https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json'â€¦

def make_trajectory(points_df, time_col='timestamp'):
    points = points_df.sort_values(time_col)
    coords = [(p.x, p.y) for p in points.geometry]
    trajectory = LineString(coords)
    return trajectory

%%time
user_ids = list(gdf['user_id'].unique())[0:50]

%%time
gdf['date'] = gdf['timestamp'].dt.date
trajectories_list = list()

with tqdm(total=len(user_ids), desc="Processing Data", unit="user") as progress_bar:
    for user_id in user_ids:
        user_df = gdf[(gdf.user_id == user_id)]
        user_trajectory = make_trajectory(user_df)
        trajectories_list.append([user_id, user_trajectory])
        progress_bar.update(1)

%%time
trajs_df = pd.DataFrame(trajectories_list)
trajs_df.rename({0: "user_id", 1:"geometry"}, axis=1, inplace=True)
trajs_gdf = gpd.GeoDataFrame(trajs_df, geometry='geometry')
trajs_gdf = trajs_gdf.set_crs('EPSG:4326')
trajs_gdf.head()
trajs_gdf.to_parquet(r'C:\Users\andrr\Desktop\geolife\geolife_trajectories.parquet')